<a href="https://colab.research.google.com/github/jungsuryu/study-algorithms-data_structure/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사칙연산

### 두 수의 차
정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return 하도록 solution 함수를 완성해주세요

In [ ]:
def solution(num1, num2):
    answer = num1 - num2
    return answer

### 두 수의 합
정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
  answer = num1 + num2
  return answer

### 두 수의 곱
정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
    answer = num1 * num2
    return answer

### 몫 구하기
정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
    answer = num1 // num2
    return answer

## 사칙연산, 조건문, 배열

### 두 수의 나눗셈
정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
    answer = int((num1 / num2) * 1000)
    return answer

### 숫자 비교하기
정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
    if num1 == num2:
        answer = 1
    else:
        answer = -1
    return answer

### 분수의 덧셈
첫 번째 분수의 분자와 분모를 뜻하는 numer1, denom1, 두 번째 분수의 분자와 분모를 뜻하는 numer2, denom2가 매개변수로 주어집니다. 두 분수를 더한 값을 기약 분수로 나타냈을 때 분자와 분모를 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(numer1, denom1, numer2, denom2):
    denominator = denom1 * denom2
    numerator = numer1 * denom2 + numer2 * denom1
    
    common = 0
    smaller_value = min(denominator, numerator)
    for i in range(smaller_value, 0, -1):
        if denominator % i == 0 and numerator % i == 0:
            common = i
            break
    
    return [numerator/common, denominator/common]

### 배열 두 배 만들기
정수 배열 numbers가 매개변수로 주어집니다. numbers의 각 원소에 두배한 원소를 가진 배열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(numbers):
    answer = [i*2 for i in numbers]
    return answer

## 사칙연산, 배열, 수학

### 나머지 구하기
정수 num1, num2가 매개변수로 주어질 때, num1를 num2로 나눈 나머지를 return 하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num1, num2):
    answer = num1 % num2
    return answer

### 중앙값 구하기
중앙값은 어떤 주어진 값들을 크기의 순서대로 정렬했을 때 가장 중앙에 위치하는 값을 의미합니다. 예를 들어 1, 2, 7, 10, 11의 중앙값은 7입니다. 정수 배열 array가 매개변수로 주어질 때, 중앙값을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(array):
    array.sort()
    
    if len(array) % 2 == 0:
        index = len(array) / 2
        answer = (array[index] + array[index+1]) / 2
    else:
        index = int(len(array) / 2)
        answer = array[index]
        
    return answer

In [ ]:
# 다른 사람 풀이 참고 + 제한사항 중 "array의 길이는 홀수"가 있음을 확인한 후 다시 풀어봄
def solution(array):
  array.sort()
  index = len(array) // 2
  answer = array[index]
  return answer

### 최빈값 구하기
최빈값은 주어진 값 중에서 가장 자주 나오는 값을 의미합니다. 정수 배열 array가 매개변수로 주어질 때, 최빈값을 return 하도록 solution 함수를 완성해보세요. 최빈값이 여러 개면 -1을 return 합니다.

In [ ]:
def solution(array):
    count_dict = {}
    for i in array:
        if i in count_dict:
            count_dict[i] += 1
        else:
            count_dict[i] = 1
            
    count_sorted = sorted(count_dict.items(), key=lambda x: x[-1], reverse=True)
    
    if len(count_sorted) <= 1:
        return count_sorted[0][0]
    return count_sorted[0][0] if count_sorted[0][-1] != count_sorted[1][-1] else -1

In [ ]:
# 다른 사람 풀이
from collections import Counter

def solution(array):
    a = Counter(array).most_common(2)
    if len(a) == 1:
        return a[0][0]
    if a[0][1] == a[1][1]:
        return -1
    return a[0][0]

### 짝수는 싫어요
정수 n이 매개변수로 주어질 때, n 이하의 홀수가 오름차순으로 담긴 배열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(n):
    answer = [i for i in range(n+1) if i % 2 != 0]
    return answer

In [ ]:
# 다른 사람 풀이
def solution(n):
    return [i for i in range(1, n+1, 2)]

## 수학, 배열

### 피자 나눠 먹기 (1)
머쓱이네 피자가게는 피자를 일곱 조각으로 잘라 줍니다. 피자를 나눠먹을 사람의 수 n이 주어질 때, 모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 return 하는 solution 함수를 완성해보세요.

In [ ]:
def solution(n):
    if n % 7 == 0:
        answer = n // 7
    else:
        answer = n // 7 + 1
    
    return answer

In [ ]:
# 다른 사람 풀이
def solution(n):
    return (n - 1) // 7 + 1

### 피자 나눠 먹기 (2)
머쓱이네 피자가게는 피자를 여섯 조각으로 잘라 줍니다. 피자를 나눠먹을 사람의 수 n이 매개변수로 주어질 때, n명이 주문한 피자를 남기지 않고 모두 같은 수의 피자 조각을 먹어야 한다면 최소 몇 판을 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(n):
    import math
    lcm = n * 6 // (math.gcd(n, 6))
    answer = lcm // 6
    return answer

In [ ]:
# 한 줄로 합치면
import math

def solution(n):
  return (n*6) // math.gcd(n,6) // 6

In [ ]:
# 다른 사람 풀이
def solution(n):
    pizza = 1
    while (pizza * 6) % n != 0:
        pizza += 1
    return pizza

### 피자 나눠 먹기 (3)
머쓱이네 피자가게는 피자를 두 조각에서 열 조각까지 원하는 조각 수로 잘라줍니다. 피자 조각 수 slice와 피자를 먹는 사람의 수 n이 매개변수로 주어질 때, n명의 사람이 최소 한 조각 이상 피자를 먹으려면 최소 몇 판의 피자를 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(slice, n):
    answer = (n - 1) // slice + 1
    return answer

### 배열의 평균값
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(numbers):
    sum = 0
    for i in numbers:
        sum += i
    answer = sum / len(numbers)
    return answer

## Day 5

### 옷가게 할인 받기
머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.
구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(price):
    if price >= 500000:
        answer = price * 0.8
    elif price >= 300000:
        answer = price * 0.9
    elif price >= 100000:
        answer = price * 0.95
    else:
        answer = price
    return int(answer)

In [ ]:
# 다른 사람 풀이
def solution(price):
    discount_rates = {500000: 0.8, 300000: 0.9, 100000: 0.95, 0: 1}
    for discount_price, discount_rate in discount_rates.items():
        if price >= discount_price:
            return int(price * discount_rate)

### 아이스 아메리카노
머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 한잔에 5,500원입니다. 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때, 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(money):
    cups = money // 5500
    change = money - cups * 5500
    return [cups, change]

In [ ]:
# 다른 사람 풀이
def solution(money):
    answer = [money // 5500, money % 5500]
    return answer

### 나이 출력
머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.

In [ ]:
def solution(age):
    answer = 2022 - age + 1
    return answer

### 배열 뒤집기
정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(num_list):
    num_list_copied = num_list.copy()
    num_list_copied.reverse()
    return num_list_copied

In [ ]:
# 다른 사람 풀이
def solution(num_list):
    return num_list[::-1]

## Day 6

### 문자열 뒤집기
문자열 my_string이 매개변수로 주어집니다. my_string을 거꾸로 뒤집은 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string):
    return my_string[::-1]

### 직각삼각형 출력하기
"*"의 높이와 너비를 1이라고 했을 때, "*"을 이용해 직각 이등변 삼각형을 그리려고합니다. 정수 n 이 주어지면 높이와 너비가 n 인 직각 이등변 삼각형을 출력하도록 코드를 작성해보세요.

In [ ]:
n = int(input())
for i in range(n):
    print("*" * (i+1))

### 짝수 홀수 개수
정수가 담긴 리스트 num_list가 주어질 때, num_list의 원소 중 짝수와 홀수의 개수를 담은 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(num_list):
    even = 0
    odd = 0
    
    for i in num_list:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
            
    return [even, odd]

In [ ]:
# 다른 사람 풀이
def solution(num_list):
    answer = [0,0] # 미리 짝수 개수, 홀수 개수 설정해둔 후
    for n in num_list: # 리스트 원소를 하나씩 돌면ㅅ너
        answer[n%2]+=1 # 2로 나누어 떨어지면 answer[0]: 짝수 자리에 +1, 나누어 떨어지지 않으면 answer[1]: 홀수 자리에 +1
    return answer

### 문자 반복 출력하기
문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string에 들어있는 각 문자를 n만큼 반복한 문자열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(my_string, n):
    answer = ''
    return answer.join(i*n for i in my_string)

## Day 7

### 특정 문자 제거하기
문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string, letter):
    return my_string.replace(letter,'')

### 각도기
각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

- 예각 : 0 < angle < 90
- 직각 : angle = 90
- 둔각 : 90 < angle < 180
- 평각 : angle = 180

In [ ]:
def solution(angle):
    if angle == 180:
        answer = 4
    elif angle > 90:
        answer = 3
    elif angle == 90:
        answer = 2
    else:
        answer =1
    return answer

In [ ]:
# 다른 사람의 풀이
def solution(angle):
    answer = (angle // 90) * 2 + (angle % 90 > 0) * 1
    return answer

### 양꼬치
머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(n, k):
    answer = 0
    # 음료수 값은 음료수 k개 중 n//10 개 빼고 계산
    bev_pay = k - n // 10
    answer = n * 12000 + bev_pay * 2000
    return answer

### 짝수의 합
정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

In [ ]:
def solution(n):
    answer = 0
    for i in range(n+1):
        if i % 2 == 0:
            answer += i 
    return answer

## Day 8

### 배열 자르기
정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때, numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(numbers, num1, num2):
    return numbers[num1:num2+1]

### 순서쌍의 개수
순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다. 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(n):
    import math
    upto = math.sqrt(n)
    count = 0
    for i in range(1, int(upto)+1):
        if n % i == 0:
            count += 1
    answer = count * 2 if int(upto) != upto else count * 2 - 1 
    return answer

## Day 9

### 개미 군단
개미 군단이 사냥을 나가려고 합니다. 개미군단은 사냥감의 체력에 딱 맞는 병력을 데리고 나가려고 합니다. 장군개미는 5의 공격력을, 병정개미는 3의 공격력을 일개미는 1의 공격력을 가지고 있습니다. 예를 들어 체력 23의 여치를 사냥하려고 할 때, 일개미 23마리를 데리고 가도 되지만, 장군개미 네 마리와 병정개미 한 마리를 데리고 간다면 더 적은 병력으로 사냥할 수 있습니다. 사냥감의 체력 hp가 매개변수로 주어질 때, 사냥감의 체력에 딱 맞게 최소한의 병력을 구성하려면 몇 마리의 개미가 필요한지를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(hp):
    large_ant = hp // 5
    medium_ant = (hp % 5) // 3
    small_ant = hp - large_ant * 5 - medium_ant * 3
    answer = large_ant + medium_ant + small_ant
    return answer
    # 다른 사람 풀이
    # return hp // 5 + (hp % 5 // 3) + ((hp % 5) % 3)

### 가위 바위 보
가위는 2 바위는 0 보는 5로 표현합니다. 가위 바위 보를 내는 순서대로 나타낸 문자열 rsp가 매개변수로 주어질 때, rsp에 저장된 가위 바위 보를 모두 이기는 경우를 순서대로 나타낸 문자열을 return하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(rsp):
    answer = ''
    win = {"0":"5", "2":"0", "5":"2"}
    win_list = []
    for i in rsp:
        win_list.append(win[i])
    answer = answer.join(win_list)
    return answer

In [ ]:
# 다른 사람 풀이
def solution(rsp):
    d = {'0':'5','2':'0','5':'2'}
    return ''.join(d[i] for i in rsp)

## Day 10

### 점의 위치 구하기
사분면은 한 평면을 x축과 y축을 기준으로 나눈 네 부분입니다. 사분면은 아래와 같이 1부터 4까지 번호를매깁니다.

In [ ]:
def solution(dot):
    x, y = dot[0], dot[1]
    if x > 0 and y > 0:
        answer = 1
    elif x < 0 and y > 0:
        answer = 2
    elif x < 0 and y < 0:
        answer = 3
    else:
        answer = 4
    return answer

In [ ]:
# 다른 사람 풀이
def solution(dot):
    quad = [(3,2),(4,1)]
    return quad[dot[0] > 0][dot[1] > 0] # True=1, False=0로 quad 리스트 내 값 추출하는 방식

## Day 11

### 주사위의 개수
머쓱이는 직육면체 모양의 상자를 하나 가지고 있는데 이 상자에 정육면체 모양의 주사위를 최대한 많이 채우고 싶습니다. 상자의 가로, 세로, 높이가 저장되어있는 배열 box와 주사위 모서리의 길이 정수 n이 매개변수로 주어졌을 때, 상자에 들어갈 수 있는 주사위의 최대 개수를 return 하도록 solution 함수를 완성해주세요.

In [ ]:
import math

def solution(box, n):
    a = box[0] // n
    b = box[1] // n
    h = box[2] // n

    return a * b * h

In [ ]:
# 다른 사람 풀이
def solution(box, n):
    return (box[0] // n) * (box[1] // n) * (box[2] // n)
# 한 줄로 표현 가능

In [ ]:
def solution(n, t):
    return n * (2 ** t)

'''1시간 2배 증식
n 마리 t 시간
2마리 1시간 후 4마리 (2**2)
2마리 2시간 후 8마리 (2**4)
2마리 3시간 후 16마리 (2(n)*8(2**t))
7마리 1시간 후 14마리 7*2
7마리 2시간 후 28마리 7*4
7마리 3시간 후 56마리 7*8
'''

### 최댓값 만들기 (1)
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(numbers):
    numbers.sort()
    answer = numbers[-1] * numbers[-2]
    return answer

## Day 12

### 모음 제거
영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다. 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string):
    answer = ''
    vowel = ['a', 'e', 'i', 'o', 'u']
    target = [i for i in my_string if i not in vowel]
    return answer.join(target)

### 문자열 정렬하기 (1)
문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.

In [ ]:
def solution(my_string):
    answer = [int(i) for i in my_string if i.isdigit()]
    answer.sort()

    return answer

In [ ]:
# 다른 사람 풀이
def solution(my_string):
    return sorted([int(c) for c in my_string if c.isdigit()])

### 숨어있는 숫자의 덧셈 (1)
문자열 my_string이 매개변수로 주어집니다. my_string안의 모든 자연수들의 합을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string):
    return sum(int(i) for i in my_string if i.isdigit())

## Day 13

### 배열 원소의 길이
문자열 배열 strlist가 매개변수로 주어집니다. strlist 각 원소의 길이를 담은 배열을 retrun하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(strlist):
    answer = [len(i) for i in strlist]
    return answer

### 삼각형의 완성조건 (1)
선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

- 가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.

삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(sides):
    sides.sort()
    if sides[2] < sides[0] + sides[1]:
        answer = 1
    else:
        answer = 2
    return answer

In [ ]:
# 다른 사람 풀이
def solution(sides):
    return 1 if max(sides) < (sum(sides) - max(sides)) else 2

## Day 14

### 암호 해독
군 전략가 머쓱이는 전쟁 중 적군이 다음과 같은 암호 체계를 사용한다는 것을 알아냈습니다.

- 암호화된 문자열 cipher를 주고받습니다.
- 그 문자열에서 code의 배수 번째 글자만 진짜 암호입니다.

문자열 cipher와 정수 code가 매개변수로 주어질 때 해독된 암호 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(cipher, code):
    answer = ''
    pw = []
    for i in range(0, len(cipher)+1, code):
        pw.append(cipher[i-1])
    answer = answer.join(pw)
    return answer[1:]

In [ ]:
# 다른 사람 풀이
def solution(cipher, code):
    answer = cipher[code-1::code]
    return answer

### 대문자와 소문자
문자열 my_string이 매개변수로 주어질 때, 대문자는 소문자로 소문자는 대문자로 변환한 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string):
    # answer = ''
    solution = []
    for i in my_string:
        if i.isupper():
            solution.append(i.lower())
        else:
            solution.append(i.upper())
    
    return ''.join(solution)

In [ ]:
# 다른 사람 풀이
def solution(my_string):
    return my_string.swapcase()

In [ ]:
# 다른 사람 풀이
def solution(my_string):
    answer = ''

    for i in my_string:
        if i.isupper():
            answer+=i.lower()
        else:
            answer+=i.upper() # 바로 str에 담기
    return answer

In [ ]:
# 다른 사람 풀이 (내가 푼 방법을 한 줄로 표현)
def solution(my_string):
    return ''.join([x.lower() if x.isupper() else x.upper() for x in my_string])

## Day 15

## Day 16

### 편지
머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다. 할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 크기로 적으려고 하며, 편지를 가로로만 적을 때, 축하 문구 message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(message):
    return len(message) * 2

### 배열의 유사도
두 배열이 얼마나 유사한지 확인해보려고 합니다. 문자열 배열 s1과 s2가 주어질 때 같은 원소의 개수를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(s1, s2):
    common_elements = [i for i in s1 if i in s2]
    return len(common_elements)

In [ ]:
# 다른 사람 코드
def solution(s1, s2): 
    return len(set(s1)&set(s2)) # list -> set 처리한 후 교집합 구하는 방식 사용

## Day 17

### n의 배수 고르기
정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(n, numlist):
    answer = [i for i in numlist if i % n == 0]
    return answer

In [ ]:
# 다른 사람 풀이
def solution(n, numlist):
    return list(filter(lambda v: v%n==0, numlist)) # filter 사용

### 자릿수 더하기
정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요

In [ ]:
def solution(n):
    answer = 0
    for i in range(len(str(n))):
        answer += int(str(n)[i])
    return answer

In [ ]:
# 다른 사람 코드
def solution(n):
    return sum(int(i) for i in str(n))

## Day 18

### 문자열 안에 문자열
문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 1을 없다면 2를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(str1, str2):
    if str2 in str1:
        answer = 1
    else:
        answer = 2
    return answer
    # 다른 사람 풀이
    # return 1 if str2 in str1 else 2

### 제곱수 판별하기
어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다. 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을 아니라면 2를 return하도록 solution 함수를 완성해주세요.

In [ ]:
import math

def solution(n):
    upto = int(math.sqrt(n))
    answer = 2
    for i in range(upto, 0, -1):
        if i * i == n:
            answer = 1
            break
        else:
            continue

    return answer

In [ ]:
# 다른 사람 풀이
def solution(n):
    return 1 if (n ** 0.5).is_integer() else 2

In [ ]:
# 다른 사람 풀이
import math

def solution(n):
    return 1 if int(math.sqrt(n)) ** 2 == n else 2

### 세균 증식
어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.

## Day 19

### 중복된 숫자 개수
정수가 담긴 배열 array와 정수 n이 매개변수로 주어질 때, array에 n이 몇 개 있는 지를 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(array, n):
    answer = array.count(n)
    return answer

### 머쓱이보다 키 큰 사람
머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다. 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(array, height):
    answer = 0
    for i in array:
        if i > height:
            answer += 1
    return answer

In [ ]:
# 다른 사람 풀이
def solution(array, height):
    array.append(height) # 기존 리스트에 머쓱이의 키를 합친 후 
    array.sort(reverse=True) # 내림차순으로 정렬해서
    return array.index(height) # 머쓱이 키 인덱스가 머쓱이보다 키 큰 사람 수가 됨

## Day 20

## Day 21

## Day 22

## Day 23

## Day 24

## Day 25

### 최댓값 만들기 (2)
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.